body {
  margin: 0px;
  background-color: #21232E; }

.header {
  background-image: url("./../img/m-h-night.jpg");
  background-position-y: -230px;
  font-family: "Fresca", sans-serif;
  border-radius: 0px 0px 600px/200px;
  height: 600px;
  color: white; }
  .header .header-wrap {
    margin-left: 150px;
    width: 30%; }
    .header .header-wrap .header_heading {
      font-family: "Hind", sans-serif;
      font-weight: bold;
      font-size: 50px; }
  .header .header_text {
    font-size: 10px;
    font-family: "Hind", sans-serif;
    text-align: left;
    margin-bottom: 50px; }
  .header .login {
    margin-left: 120px; }

.landing-logo {
  padding-top: 20px; }
  .landing-logo img {
    display: inline-block; }
  .landing-logo p {
    vertical-align: top;
    margin: 0px 10px;
    font-weight: 600;
    display: inline-block; }
    .landing-logo p span {
      font-weight: 200;
      display: block;
      font-size: 7px;
      text-align: center; }

button {
  color: white;
  background-color: #E3AC00;
  padding: 7px 30px;
  border-style: none;
  border-radius: 3px 3px;
  font-family: "Hind", sans-serif;
  font-weight: 600; }

a {
  font-family: "Hind", sans-serif;
  color: white; }

main {
  font-family: "Fresca", sans-serif;
  color: white;
  text-align: center;
  position: relative; }
  main .section_text {
    font-family: "Hind", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white; }
  main .section_card_wrap {
    width: 60%;
    margin-left: 20%; }
  main .section_card {
    padding: 15px;
    margin: 10px;
    background-color: #3B3F50;
    border-radius: 5px;
    display: flex; }
    main .section_card img {
      border-radius: 5px;
      width: 800px; }
  main .section_card_heading {
    font-size: 18px;
    font-weight: 600;
    font-family: "Hind", sans-serif; }
  main .section_card_right_container {
    padding: 40px 0px;
    font-size: 14px;
    font-weight: 100; }
  main .section_card_text {
    padding: 30px 70px;
    text-align: justify; }
  main .section_banner {
    position: relative;
    top: 70px;
    margin-top: 100px;
    padding: 10px;
    background-image: linear-gradient(to right, #E3AC00, #932D53);
    width: 70%;
    margin-left: 15%;
    border-radius: 5px; }
  main .section_banner_button {
    margin-right: 10px; }
  main .section_banner_text_wrap {
    margin-left: -300px;
    text-align: left;
    display: inline-block; }
  main .section_banner_heading {
    font-weight: bold;
    font-size: 26px;
    color: white; }

.footer {
  z-index: -1;
  position: relative;
  background-color: #3B3F50;
  text-align: justify;
  color: white;
  font-family: "Fresca", sans-serif; }

.footer-wrap {
  padding: 100px;
  text-align: center; }

.footer_logo {
  margin-left: -240px;
  display: inline; }

.footer_text {
  font-size: 10px;
  display: inline; }

.footer-cr {
  font-size: 12px;
  display: inline; }
