/*$mark-color: #14A0C7;
$bgc-color: #fff;
$card-color: #21232E;*/
body {
  margin: 0px; }

.header {
  background-position-y: -230px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom-right-radius: 500px 250px;
  height: 600px; }
  .header .header-wrap {
    margin-left: 150px;
    /*padding-top: 100px;*/
    /*padding-bottom: 70px;*/
    width: 30%; }
    .header .header-wrap .landing-logo {
      padding-top: 20px;
      /*align-items: center;*/ }
      .header .header-wrap .landing-logo img {
        display: inline-block; }
      .header .header-wrap .landing-logo p {
        vertical-align: top;
        margin: 0px 10px;
        /*padding: 10px;*/
        font-weight: 600;
        display: inline-block; }
        .header .header-wrap .landing-logo p span {
          font-weight: 200;
          display: block;
          font-size: 7px;
          text-align: center; }
    .header .header-wrap .header_heading {
      font-weight: bold;
      font-size: 50px; }
  .header .header_text {
    font-size: 10px;
    font-family: 'Hind', sans-serif;
    text-align: left;
    margin-bottom: 50px; }

button {
  color: white;
  background-color: #699900;
  padding: 7px 30px;
  border-style: none;
  border-radius: 3px 3px;
  font-family: 'Hind', sans-serif;
  font-weight: 600; }

a {
  /*text-decoration: none;*/
  color: white;
  margin-left: 120px; }

main {
  text-align: center; }
  main .section_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600; }
