$check: ( day: url("./../img/m-h-day.jpg"), night: url("./../img/m-h-night.jpg") );

@mixin a-style {
    font-family: $headings-font;
    color: white;
}

@mixin btn-style {
    color: white;
    background-color: $btn-color;
    padding: 7px 30px;
    border-style: none;
    border-radius: 3px 3px;
    font-family: $headings-font;
    font-weight: 600;
}

body {
    margin: 0px;
    background-color: $body-color;
}

.header {
    background-image: map-get($check, $check-value);
    background-position-y: -230px;
    font-family: $text-font;
    border-radius: 0px 0px 600px/200px;
    height: 600px;
    color: $text-color;

    .header-wrap {
        margin-left: 150px;
        width: 30%;

        .header_heading {
            font-family: $headings-font;
            font-weight: bold;
            font-size: 50px;
        }
    }

    .header_text {
        font-size: 10px;
        font-family: $headings-font;
        text-align: left;
        margin-bottom: 50px;
    }

    .login {
        margin-left: 120px;
    }
}

.landing-logo {
    padding-top: 20px;
    img {
        display: inline-block;
    }

    p {
        vertical-align: top;
        margin: 0px 10px;
        font-weight: 600;
        display: inline-block;

        span {
            font-weight: 200;
            display: block;
            font-size: 7px;
            text-align: center;
        }
    }
}

button {
    @include btn-style;
}

a {
    @include a-style; 
}

main {
    font-family: $text-font;
    color: white;
    text-align: center;
    position: relative;

    .section_text {
        font-family: $headings-font;
        font-size: 28px;
        font-weight: 600;
        color: $text-color;
    }

    .section_card_wrap {
        width: 60%;
        margin-left: 20%;
    }

    .section_card {
        padding: 15px;
        margin: 10px;
        background-color: $card-color;
        border-radius: 5px;
        display: flex;

        img {
            border-radius: 5px;
            width: 800px;
        }
    }

    .section_card_heading {
        font-size: 18px;
        font-weight: 600;
        font-family: $headings-font;
    }

    .section_card_right_container {
        padding: 40px 0px;
        font-size: 14px;
        font-weight: 100;
    }

    .section_card_text {
        padding: 30px 70px;
        text-align: justify;
    }

    .section_banner {
        position: relative;
        top: 70px;
        margin-top: 100px;
        padding: 10px;
        background-image: linear-gradient(to right, $banner-grad-left, $banner-grad-right);
        width: 70%;
        margin-left: 15%;
        border-radius: 5px;
    }

    .section_banner_button {
        margin-right: 10px;
    }

    .section_banner_text_wrap {
        margin-left: -300px;
        text-align: left;
        display: inline-block;
    }

    .section_banner_heading {
        font-weight: bold;
        font-size: 26px;
        color: $text-color;
    }
}

.footer {
    z-index: -1;
    position: relative;
    background-color: $card-color;
    text-align: justify;
    color: white;
    font-family: $text-font;
}

.footer-wrap {
    padding: 100px;
    text-align: center;
  
}
.footer_logo {
    margin-left: -240px;
    display: inline;
}

.footer_text {
    font-size: 10px;
    display: inline;
}

.footer-cr {
    font-size: 12px;
    display: inline;
}

