$card-color: #21232E;
$text-font: 'Fresca', sans-serif;
$headings-font: 'Hind', sans-serif;
$text-color: white;
$btn-color: #E3AC00;
$body-color: #21232E;
$mark-color: #FF4E33;
$banner-grad-left: #E3AC00;
$banner-grad-right: #932D53;
$card-color: #3B3F50;
$bcg-img: url("./../img/m-h-night.jpg");