$btn-color: #699900;
$body-color: white;
$card-color: #21232E;
$text-font: 'Source Sans Pro', sans-serif;
$headings-font: 'Hind', sans-serif;
$banner-grad-left: #699900;
$banner-grad-right: #2E5DD3;
$text-color: #21232E;
$mark-color: #14A0C7;
$bcg-img: url("./../img/m-h-day.jpg");